body{
margin:0px;
padding: 0px;
background-color: #63BD64;
}


header{
	width: 100%;
	display: inline-block;
}

.menu{
    display: inline-block;
	float: left;
	
}


ul{

	list-style-type: none;

}

li{
	display: inline;
	
}

.menu1{
	margin-right: 17px;

}

.menu-pic{
	display: none;
	width: 10%;
	margin-top: 4%;
}

.hidden-menu{
    
    display: none;
    background-color: white;
	margin-top: -2%;
	width: 100%;
	z-index: 1;
	float: left;
	border-radius:4px;

}


.hidden-menu li{
	display: block;

}



.login-part{
	margin-top: 30px;
	float: right;
	display: inline-block;
}

.login{
	padding: 10px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 16px;
	background-color: transparent;
	color:white;
	border:2px solid white;
	margin-right: 55px;

}

a{
	text-decoration: none;
	color: white;
	font-size: 17px;
	font-family: sans-serif;
}



a:hover{
	text-decoration: underline;
}

.icon1{
 margin-right: 35px;
}

.icon{
	color: white;
	font-size: 35px;

}

.main1{
	margin-right: 50px;
	margin-left: 50px;
}

.user_login{
	margin:auto;
	margin-top: 5%;
    background-color: white;
    width:37%;
    height: 430px;;
    opacity:0.9;
    border-radius: 8px;
    text-align: center;
	font-family: sans-serif;
	
    

}





.email{
	margin: 3%;
	padding: 14px;
	border-radius: 4px;
	border:2px solid #64BD63;
    text-align: center;
	font-family: sans-serif;
	outline:none;
}


.login-title{
	color:#64BD63;
	font-size: 30px;	
	font-family: sans-serif;
	display: inline-block;
	margin:13% 0 8% 0;
}

.lab{
	font-size: 17px;
	color: #64BD63;
	width: 20%;
	text-align: left;
	margin-left:-18%;
	font-family: sans-serif;
	display: inline-block;
}


.login_link a{
	text-decoration: none;
	color:#64BD63;

}

.login_link{
 	
margin-left: 30%;
border:2px solid #64BD63;
border-radius: 4px;
padding:10px;
width: 37%;
}


@media screen and (max-width: 560px){
	 .login-part{
		display:none;
	}


	.menu ul{
		padding-left: 0;
	}


    .menu ul .menu1{
		display: none;
	}

	.menu-pic{
		display: inline-block;
		float: right;
	}
   .hovering:hover .hidden-menu{
           display: block;
   }

   .content{
   	margin-top: -1%;
   }

   .menu1 a{
   	color: #63BD64;
   }
  .user_login{
  	width: 90%;
  }
   .lab{
   	text-align: center;
   }
  form{
  	margin:10% 15%;
  }

  .login_link{
  	margin:auto;
  }
}
