.meetup-description{
	position:relative;
	margin:auto;
	margin-top: 10%;
	width: 70%;
	height: auto;
	background-color: white;
	border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 10px;
	z-index: 2
}

.meetup-1{
    margin-top: 10%;
	position:relative;
	margin:auto;
	width: 70%;
	height: auto;
	background-color: white;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 12px;
	z-index: 0
}



hr.one{
	border:1px solid #63BD64;
	margin-right: 15px;
}

.two{
   width: 97.3%;
   position: absolute;
   left:1%;
   top:95%; 
   border-width: 1px;
}

.posted-questions{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	color: grey;
	position: absolute;
	top:86%;
	left: 1%;

}


.more-details{
	position: absolute;
	top: 10%;
	left: 15%;
}

.your-comment{
  position: absolute;
  left:1%;
  top: 79%;
  border:2px solid green;
  text-align: justify;
  width:50%;
  height: 20%
}

.comment-pic{
	vertical-align: middle;
	border-radius: 50%;
	border: 2px solid green;
	width:5%;
	height:10%;
}

.comment{
	margin: 0px 10px;
	height: 30px;
	width:30%;
	font-family: sans-serif;
	font-size: 13px;
	border: 2px solid #63BD63;
	border-radius: 8px;
	padding: 3px 6px;
	color: grey;
	outline:none;
}

.post-button{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	background-color: #63BD64;
	color:white;
	padding: 7px;
	outline:none;
}


.question-description{
    padding-top: 5px;
    padding-bottom: 10px;
	margin:auto;
	margin-top: 20px;
	width: 70%;
	height: auto;
	background-color: white;
	border-radius: 8px;
	padding-left: 10px;
}

.question-pik{
	vertical-align: middle;
	border-radius: 50%;
	width:5%;
	height: 5%;
}

.summary{
	padding-left: 10px;
	vertical-align: middle;
	display: inline-block;
	color: grey;
}

.person{
	font-size:16px;
	font-family: sans-serif;
	font-weight: bold;
}


.prefix{
	font-size: 14px;
}

.questions-column{
	margin: 15px 0px;
	font-size: 20px;
	font-weight: bolder;

}

.upvote{
	color: #63BD64;
    font-size:16px;
    font-weight: bold;

}

.downvote{
	font-weight: bold;
	color: red;
	font-size: 16px;
}

.downvote-1{
	padding-left: 20px;
}

.comment-pic-1{
	vertical-align: middle;
	border-radius: 50%;
	border: 2px solid green;
	width:3%;
	height:5%;
}

.comment-1{
	margin: 0px 5px;
	height: 20px;
	font-family: sans-serif;
	font-size: 13px;
	border: 2px solid #63BD63;
	border-radius: 8px;
	padding: 3px 6px;
	color: grey;
	outline:none;

}


.comment-button{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
	border: none;
	border-radius: 8px;
	background-color: #63BD64;
	color:white;
	padding: 6px;
	outline:none;
}


.vote-counting{
	cursor: pointer;
	font-family: sans-serif;
}

.question-description-1{
    padding-top: 5px;
    padding-bottom: 10px;
	margin:auto;
	margin-top: 5px;
	width: 70%;
	height: auto;
	background-color: white;
	border-radius: 8px;
	padding-left: 10px;
}


.comment-num{
	padding-left: 30px;
	vertical-align: middle;
	font-size: 15px;
	font-family: sans-serif;
    font-weight: bold;
    color: grey;
}

.num{
	vertical-align: middle;
	font-size: 15px;
	font-family: sans-serif;
    font-weight: bold;
    color:grey;
}